body {
  background-image: url('https://dbdzm869oupei.cloudfront.net/img/sticker/preview/46849.png');
  background-size: 10%;
}

.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: contents;
  justify-content: center;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cart {
  position: sticky;
  top: 20px;
}

.cart-item {
  transition: all 0.3s ease;
}

.cart-item:hover {
  transform: scale(1.1);
}

.close-cart {
  color: #ff5f5f;
}

body {
  font-family: Arial, sans-serif;
  background-color: #4d4d4d;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
  background-color: #4d4d4d;
  border: 1px solid #000000;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  color: #ffffff;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

a {
  color: #66c0f4;
  text-decoration: none;
}

.btn1 {
  display: flex;
  justify-content:center;
}

.btn2 {
  display: flex;
  justify-content:center;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: 0 0 240px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #000000c9;
  border: 1px solid #444;
  border-radius: 4px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.cart {
  background-color: #1c1f26;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 4px;
}

.form1 {
  display: flex;
  justify-content:center;
  margin: 20px;
  padding: 20px;
}
.form2 {
  display: flex;
  justify-content:center;
  margin: 20px;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item img {
  max-width: 60px;
  height: auto;
  margin-right: 10px;
}

.cart-item h3 {
  margin: 0;
  flex-grow: 1;
  color: #fff;
}

.cart-item p {
  margin: 0;
  margin-right: 10px;
  color: #e6e6e6;
}

button {
  background-color: #555555;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 25px;
}

button:hover {
  background-color: #555555;
}

.close-cart {
  margin-top: 10px;
  color: #e6e6e6;
}

.inicio-button {
  bottom: 20px;
  right: 20px;
  background-color: #555555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

a#inicio {
  background-color: #555555;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
}

a#inicio:hover {
  background-color: #555555;
}